{% extends "base.html" %}

{% block content %}

<div class="text-black mt-10 mb-20">
    <div class="container mx-auto">
        <div class="flex justify-center flex-wrap">
            <div class="w-full lg:w-2/3 px-5">
                <h1 class="mb-5 text-center">CodeMix Tutorial</h1>
                <h2 class="text-center mb-5">Develop Angular, React, Python and Vue app with ease</h2>
                <p class="text-center">
                    {% if user.is_authenticated %}
                        <strong>{{ user.username }}</strong>, focus on developing with CodeMix
                        <a href="{% url 'logout' %}" class="btn btn-danger mt-5" style="background: red; border: 1px solid red">Logout here</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}