<p-dataView [value]="coins">
    <p-header>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </p-header>
    <p-footer>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </p-footer>

    <ng-template let-coin pTemplate="listItem">
        <div>
			{{coin.rank}}.-
			{{coin.name}}
        </div>
    </ng-template>
    <ng-template let-coin pTemplate="gridItem">
        <div class="ui-g-12 ui-md-3">
			{{coin.rank}}.-
			{{coin.name}}
        </div>
    </ng-template>
</p-dataView>
